.seoText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

.cts9Regular {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	font-weight: normal;
}
.cts9Bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	font-weight: bold;

}

.cts10Regular {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: normal;
}
.cts10Bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: bold;
}

.cts11Regular {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: normal;
}
.cts11Bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
}

.cts12Regular {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
}
.cts12Bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;

}


.cts14Regular {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}
.cts14Bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;

}
.cts15Regular {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
}
.cts15Bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	font-weight: bold;

}
.cts18BoldWhite {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
}
.cts18Bold {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	font-weight: bold;
}
.cts18Regular {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	font-weight: normal;
}
.cts24Bold {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #333333;
	font-weight: bold;
}
.cts24BoldWhite {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
}
.cts24Regular {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #333333;
	font-weight: normal;
}
.cts30Bold {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #333333;
	font-weight: bold;
}
.cts30Regular {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #333333;
	font-weight: normal;
}

.ctsHeadline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333333;
}
.ctsPhotoCaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;

}

a.boldLink10:link { color: #666666; text-decoration: underline; }
a.boldLink10:visited { color: #444444; text-decoration: underline; }
a.boldLink10:hover { color: #111111; text-decoration: none; font-size: 10px;}
a.boldLink10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #666666;
}

a.boldLink12:link { color: #333333; text-decoration: underline; }
a.boldLink12:visited { color: #444444; text-decoration: underline; }
a.boldLink12:hover { color: #111111; text-decoration: none; font-size: 12px;}
a.boldLink12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #666666;
}


a.boldLink14:link { color: #333333; text-decoration: underline; }
a.boldLink14:visited { color: #444444; text-decoration: underline; }
a.boldLink14:hover { color: #111111; text-decoration: none; font-size: 14px;}
a.boldLink14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #666666;
}
a.boldLink18:link { color: #333333; text-decoration: underline; }
a.boldLink18:visited { color: #999999; text-decoration: none; }
a.boldLink18:hover { color: #AAAAAA; text-decoration: none; font-size: 18px;}
a.boldLink18 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #666666;
}
a.boldLink18White:link { color: #FFFFFF; text-decoration: underline; }
a.boldLink18White:visited { color: #EEEEEE; text-decoration: underline; }
a.boldLink18White:hover { color: #DDDDDD; text-decoration: none; font-size: 18px;}
a.boldLink18White {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
}

a.boldLink24:link { color: #666666; text-decoration: underline; }
a.boldLink24:visited { color: #999999; text-decoration: none; }
a.boldLink24:hover { color: #AAAAAA; text-decoration: none; font-size: 24px;}
a.boldLink24 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #666666;
}

a.pageLink12:link { color: #333333; text-decoration: none; }
a.pageLink12:visited { color: #444444; text-decoration: none; }
a.pageLink12:hover { color: #111111; text-decoration: none; font-size: 12px;}
a.pageLink12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #666666;
}
a.selectedPageLink12:link { color: #333333; text-decoration: underline; }
a.selectedPageLink12:visited { color: #444444; text-decoration: underline; }
a.selectedPageLink12:hover { color: #111111; text-decoration: none; font-size: 12px;}
a.selectedPageLink12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #666666;
}

