
<table width="60%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">
<table width="100%" border="2" cellpadding="0" cellspacing="6" bgcolor="#EEEEEE">
        <tr> 
          <td valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
              <tr> 
                <td height="30" bgcolor="#CCCCCC"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td width="33%">&nbsp;&nbsp;&nbsp;<a href="_EDITLINK_" class="boldLink14">Edit</a></td>
                      <td width="33%" align="center" class="cts12Bold">Record 
                        # _ITEMNUMBER_</td>
                      <td width="33%" align="right"><a href="_DELETELINK_" class="boldLink14">Delete</a>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
              <tr> 
                <td bgcolor="#EEEEEE">&nbsp;</td>
              </tr>
              <tr> 
                <td valign="top">
<table width="100%" border="0" align="center" cellpadding="10" cellspacing="0">
                    <tr> 
                      <td height="30" class="blogHeadline">_HEADLINE_</td>
                    </tr>
                    <tr> 
                      <td height="30" class="blogSubHead">_SUBHEAD_</td>
                    </tr>
                    <tr> 
                      <td height="30" class="blogCopy">_EVENTDATE_ _EVENTTIME_</td>
                    </tr>
                    <tr> 
                      <td class="cts10Regular">&nbsp; </td>
                    </tr>
                    <tr> 
                      <td class="blogCopy">_COPY_ </td>
                    </tr>
                    <tr>
                      <td class="blogPostingDate">&nbsp;</td>
                    </tr>
                    <tr> 
                      <td height="30" valign="middle" class="blogPostingDate">Posted 
                        By _POSTERID_ on _POSTINGDATE_</td>
                    </tr>
                  </table></td>
              </tr>
              <tr> 
                <td bgcolor="#EEEEEE">&nbsp;</td>
              </tr>
              <tr> 
                <td height="30" bgcolor="#CCCCCC">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="25"><hr></td>
  </tr>
</table>
