<table width="90%" cellspacing="0" cellpadding="0">
  <tr> 
    <td height="10" align="center">&nbsp;</td>
  </tr>
  <tr> 
    <td align="center"><a href="_LINKURL_" target="_blank">_LINKNAME_</a></td>
  </tr>
  <tr> 
    <td height="10">&nbsp;</td>
  </tr>
  <tr> 
    <td>_LINKDESCRIPTION_</td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="15" align="left" valign="middle" bgcolor="#EEEEEE">&nbsp;&nbsp;Posted by: _POSTERID_</td>
  </tr>
  <tr> 
    <td height="10" align="left" valign="middle">&nbsp;</td>
  </tr>
</table>
