  <!-- ImageReady Slices (Gallery_ECard_Preview.psd) -->
  <table align="center" id="Table_01" width="955" height="140" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2">
			<img src="images/gallery/Gallery_ECard_Preview_01.gif" width="955" height="67" alt=""></td>
	</tr>
	<tr>
		<td>
		<input type="image" src="images/gallery/GalleryECardSendButton.gif" border="0" width="125" height="73" name="submit" alt="Click here to send your message...">
		</td>
    <td> 
	<img src="images/gallery/Gallery_ECard_Preview_03.gif" alt="" width="830" height="73" border="0" usemap="#Map"></td>
	</tr>
</table>
<map name="Map">
  <area shape="rect" coords="749,4,818,58" href="_EDITURL_">
</map>
