  <table align="center" id="Table_01" width="955" height="140" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td colspan="2"> <img src="images/gallery/Gallery_ECard_Compose_01.gif" width="955" height="67" alt=""></td>
    </tr>
    <tr> 
      <td>
	  <input type="image" src="images/gallery/GalleryECardPreviewButton.gif" border="0" width="125" height="73" name="submit" alt="Click here to preview your message..."> 
	  </td>
      <td> <img src="images/gallery/Gallery_ECard_Compose_03.gif" alt="" width="830" height="73" border="0" usemap="#ECardCompose_Map"></td>
    </tr>
  </table>
  	<map name="ECardCompose_Map">
  		<area shape="rect" coords="746,3,824,69" href="_BACKURL_">
	</map>
