<!--Start Gallery Template -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td height="50" align="center" valign="top">_GALLERY_TITLE_</td>
  </tr>
  <tr> 
    <td height="50" align="center" valign="top"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td width="50%" align="center"><a href="_GALLERY_LINK_"><img src="_IMAGE_FILE_AND_PATH_" border="0"></a></td>
          <td> <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td height="40" valign="top">_ARTIST_NAME_ 
                </td>
              </tr>
              <tr> 
                <td align="left">
<table width="95%" border="0" cellspacing="0" cellpadding="10">
                    <tr> 
                      <td bgcolor="#efefef">_ARTIST_STATEMENT_</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td height="50" align="center" valign="middle"><a href="_GALLERY_LINK_">Enter 
      the Gallery</a></td>
  </tr>
  <tr> 
    <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr> 
          <td height="40" align="center">View the artists 
            personal website - <a href="_WEBSITE_URL_">_STUDIO_NAME_</a> 
          </td>
        </tr>
        <tr> 
          <td height="40" align="center">This gallery has 
            _NUMBER_OF_IMAGES_ images.</td>
        </tr>
      </table></td>
  </tr>
</table>
<!--End Gallery Template -->
