<!-- Start Gallery Image UI Template -->
<table align="center" id="Table_01" width="955" height="140" border="0" cellpadding="0" cellspacing="0">
	<tr>
		
    <td colspan="3"> 
	
	<a href="_HOME_PAGE_">
	<img src="images/gallery/image_UI_top.jpg" alt="" width="955" height="74" border="0">
	</a>
	
	</td>
	</tr>
	<tr>
		
    <td valign="top"> _PREVIOUS_LINK_OPEN_ <img src="images/gallery/_PREVIOUS_FN_" alt="_PREVIOUS_ALT_TEXT_" width="133" height="66" border="0"> 
      _PREVIOUS_LINK_CLOSE_ </a> </td>
		
    <td valign="top"> _NEXT_LINK_OPEN_ <img src="images/gallery/_NEXT_FN_" alt="_NEXT_ALT_TEXT_" width="79" height="66" border="0"> 
      _NEXT_LINK_CLOSE_ </td>
		
    <td valign="top"> <img src="images/gallery/image_UI_map_area.jpg" alt="" width="743" height="66" border="0" usemap="#GalleryImageMap"></td>
	</tr>
</table>

<map name="GalleryImageMap" id="GalleryImageMap">
  <area shape="rect" coords="3,2,150,43" href="_THUMBS_LINK_URL_">
  <area shape="rect" coords="191,2,390,41" href="_E_CARD_URL_">
  <area shape="rect" coords="458,3,577,41" href="_SHOWCART_STRING_" target="cartwin">
  <area shape="rect" coords="642,3,722,41" href="_HOME_PAGE_">
</map>
<!-- End Gallery Image UI Template -->
