<table width="955" border="0" cellspacing="0" cellpadding="0">
  <tr align="center" valign="middle"> 
    <td colspan="8"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="100" align="center"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr align="right"> 
                <td height="20" valign="bottom" bgcolor="#efefef">
                <h4><a href="pw_login.php" target="_blank">Log 
                  In</a> &nbsp;&nbsp;&nbsp;</h4></td>
              </tr>
              <tr> 
                <td height="70"  align="center" bgcolor="#Efefef" ><h1>Rolling 
                  Hills Software - Web Application Template</h1></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr align="center" valign="middle"> 
    <td width="15%" height="30"><a onmouseover="Tip('Click here to view the Home Page')" href="index.php">Home</a></td>
    <td height="30"><a onmouseover="Tip('Click here to view the About Page')"  href="about.php">About</a></td>
    <td height="30"><a onmouseover="Tip('Click here to enter<br>the Gallery Lobby')" href="gallery_lobby.php">Gallery</a></td>
    <td height="30"><a onmouseover="Tip('Click here to read our Blog Page')" href="blog.php">Blog</a></td>
    <td height="30"><a onmouseover="Tip('Click here to view our Calendar')" href="calendar.php">Calendar</a></td>
    <td><a href="music.php">Music</a></td>
    <td height="30"><a onmouseover="Tip('Click here to Contact Us')" href="contact.php">Contact</a></td>
    <td height="30"><a onmouseover="Tip('Click here to join our Mailing List')" href="join.php">Join</a></td>
  </tr>
</table>
