	<!-- Public Vote UI 2 -->
	<div id="voteUI">
	<table width="220" border="0" cellspacing="0" cellpadding="0">
	  <tr> 
		<td width="100">
	<table width="100" border="0" cellspacing="0" cellpadding="0" id="ratings_bar">
			<tr> 
			  <td>Rate Me!</td>
			</tr>
			<tr> 
			  <td><table border="0" cellspacing="0" cellpadding="0" id="ratings_bar">
				  <tr> 
					<td width="10" height="10" align="left" valign="top">
					<a  href="#" onClick="HandleVote(1,'_FILENAME_','_ELECTIONNAME_')"></a></td>
					<td align="left" valign="top">
					<a  href="#" onClick="HandleVote(2,'_FILENAME_','_ELECTIONNAME_')"></a></td>
					<td align="left" valign="top">
					<a  href="#" onClick="HandleVote(3,'_FILENAME_','_ELECTIONNAME_')"></a></td>
					<td align="left" valign="top">
					<a  href="#" onClick="HandleVote(4,'_FILENAME_','_ELECTIONNAME_')"></a></td>
					<td align="left" valign="top">
					<a  href="#" onClick="HandleVote(5,'_FILENAME_','_ELECTIONNAME_')"></a></td>
				  </tr>
				</table></td>
			</tr>
		  </table>
		</td>
		<td width="20">&nbsp;</td>
		<td width="100"><table width="100" border="0" cellspacing="0" cellpadding="0" id="ratings_bar">
			<tr> 
				<td>Current Rating...</td>
			</tr>
			<tr> 
			  <td><table border="0" cellspacing="0" cellpadding="0" id="ratings_bar">
				  <tr> 
						<td width="10" height="10" align="left" valign="top"> <img src="images/vote/_FILENAME0_" width="18" height="18"></td>
						<td align="left" valign="top"> <img src="images/vote/_FILENAME1_" width="18" height="18"></td>
						<td align="left" valign="top"> <img src="images/vote/_FILENAME2_" width="18" height="18"></td>
						<td align="left" valign="top"> <img src="images/vote/_FILENAME3_" width="18" height="18"></td>
						<td align="left" valign="top"> <img src="images/vote/_FILENAME4_" width="18" height="18"></td>
				  </tr>
				</table></td>
			</tr>
		  </table></td>
	  </tr>
	</table>
	</div>
	<!-- Public Vote UI 2 -->
